body {
    background-color: #81C3D7;
}

.container {
    padding-top: 50px;
}

/***********************************************************************************************************************

 NAVBAR STYLE

***********************************************************************************************************************/

.navbar-default {
    background-color: #16425B;
}

/* Navbar Title */
.navbar-default .navbar-brand {
    color: #FDFFFC;
    font-size: 175%;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #3A7CA5;
}

/* Menu Items */
.navbar-default .navbar-nav > li > a{
    color: #FDFFFC;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #3A7CA5;
}


/* Drop down Menu */

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FDFFFC;
    background-color: #3A7CA5;
}

#login-dropdown-menu{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
}

#login-div {
    margin-bottom: 5px;
}

#login-div label{
    color: #16425B;
}


/**********************************************************************************************************************/

/* Content */

.content-container{
    margin-top: 50px;
    background-color: #16425B;
    color: #FDFFFC;
}

.content-container h1{
    font-size: 350%;
}

.content-container label{
    color: #FDFFFC;
    font-size: 150%;
}

.content-container small{
    color: #FDFFFC;

}