
#content {
    margin-top: 50px;
    background-color: #16425B;
}

#content h1{
    color: #FDFFFC;
    font-size: 350%;
}

#content label{
    color: #FDFFFC;
    font-size: 150%;
}

#left-column{
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#right-column{
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
